body{
    background-image: url("./images/cloudy-day.png");
}

h2{
    color: #464169;
    font-weight: 500;
}
h4{
    color: #464169;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 3px #8bbabb;
    font-size: 30px;
}

.cardDateText{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #464169;
    text-shadow: 1px 1px 3px grey;
}

#icon {
    margin-left: 30%;
    
}

.city{
    font-size: 30px;
}

.card-panel{
    margin-top: 0px;
    background: #464159;
    padding:20px;
}

#mainPanel{
    margin: 45px;
    background: #8bbabb;
    padding-top: 0px;
}

#citySearch{
    background: #8bbabb;
}

.cardCityText,
.cardDate1Text,
.iconImage1{
    float: left;
    font-size: 30px;
    font-weight: 500;
    padding-left: 5px;
    color: #464169;
    text-shadow: 1px 1px 3px grey;
}


#weatherDash{
    text-align: center;
    margin: auto;
}

.row .col.l11{
    background: ghostwhite;
}

.col{
    width: 20%;
    
}

.cardUVText{
    margin-top: 0px;
    margin-bottom: 10px;
}

.uvIndex{
    width: 60px;
    height: 25px;
    text-align: center;
    margin-left: 3px;
}
.uvFav{
    background: #ffd740;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 1px 1px 3px 1px #464169;
}

.uvMod{
    background: #aed581;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 1px 1px 3px 1px #464169;
}

.uvSev{
    background: #ff1744;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 1px 1px 3px 1px #464169;
}

.searchedCity{
    background: #b2dfdb;
    color: #464169;
}

.searchPanelDiv{
    margin-top: -20px;
}